
# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
.beads/proxieddb/
*.gate.lock*

.worktrees/
/target/

# sed -i backups (BSD sed -i -E) and merge leftovers
*-E
*.orig

__pycache__/
/bin/
.DS_Store
/THIRD_PARTY_LICENSES.html
